.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.coluna {
    content: "";
    background-color: red;
}

.grafico {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}