@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./bootswatch.scss";
@import "./variables.scss";
@import "./styles.scss";

.navbar {
  opacity: 0.8 !important;
}

.main {
  margin-top: 8rem !important;
}

.myNavBarList {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
}

.myNavBarItem > a > i {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: darkorchid;
  transition: all 200ms ease !important;
}

.myNavBarItem > a > i:hover, .myNavBarItem > a > i:focus {
  transform: scale(1.2) rotate(-10deg);
  color: deeppink;
}

.myNavBarItem > a > i:active {
    transform: scale(0.9);
}

.myNavBarTittle {
  font-family: "Do Hyeon", sans-serif;
  font-size: 2rem;
  color: deeppink !important;
  transition: all 200ms ease;
  position: relative;
}

.myNavBarTittle::after {
  content: "";
  position: absolute;
  bottom: 10;
  left: 0;
  right: 0;
  height: 1px;
  background-color: darkorchid;
  transition: 200ms ease-in-out;

  transform: scale(0);
  opacity: 0;
}

.myNavBarTittle:hover::after {
  transform: scale(1);
  opacity: 1;
}

.myNavBarTittle:hover {
  color: darkorchid !important;
}

body {
  background-color: var(--background-color);
  color: #809294;
  margin: 0;
  padding: 0;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
  background-color: #212529;
  opacity: 0.8;
  height: 20%;

  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
}

footer a {
  color: deeppink;
  text-decoration: none;
}

footer p {
  position: absolute;
  bottom: 0;
  padding-left: 3rem;
}

.footer-options {
  padding-top: 2em;
  padding-left: 5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-options .backtotop {
  align-self: flex-end !important;
  padding-right: 5em;
}

.footer-options .backtotop::after {
  content: "";
  width: 0;
  height: 0;
}

.footer-options li {
  font-size: 1.2em;
  position: relative;
  animation: all 1000ms ease;
}

.footer-options li a i {
  padding-right: 0.5em;
}

h1 {
  color: var(--main-text-color);
  font-family: "Do Hyeon", sans-serif;
  margin-bottom: 3rem;
  font-size: 4em;
}
h1 > i {
  color: var(--secondary-text-color);
}

p {
  font-size: 1.2em;
}

.main-content {
  margin: 3em 0;
}
