.navbar {
  .myNavBarTittle {
    font-family: "Do Hyeon", sans-serif;
    font-size: 2rem;
    color: var(--purple-300-color);
    text-decoration: none;

    &:hover {
      color: var(--purple-500-color);
    }
  }

  .myNavBarList {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;

    a {
      i {
        margin-top: 1rem;
        font-size: 1.5rem;
        color: var(--purple-300-color);
        transition: all 200ms ease !important;

        &:hover,
        &:focus {
          transform: scale(1.2) rotate(-10deg);
          color: var(--purple-500-color);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}

body {
  background-color: var(--background-color);
  color: #809294;
  margin: 0;
  padding: 0;

  .main {
    margin-top: 8rem !important;

    footer {
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      height: 25%;

      margin-top: 5rem;

      border-radius: 2rem;

      .footer-options {
        padding-top: 2em;
        padding-left: 5em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        li {
          font-size: 1.2em;
          position: relative;

          a {
            color: var(--purple-500-color);
            text-decoration: none;

            &:hover,
            &:focus {
              color: var(--purple-300-color);
            }

            i {
              padding-right: 0.5em;
            }
          }
        }
        .backtotop {
          align-self: flex-end !important;
          padding-right: 5em;
        }
      }

      p {
        bottom: 0;
        padding-left: 3rem;
      }
    }

    h1 {
      color: grey;
      font-family: "Do Hyeon", sans-serif;
      margin-bottom: 3rem;
      font-size: 4em;
    }

    p {
      font-size: 1.2em;
    }
  }
}

.itemCenter {
  display: grid;
  place-items: center;
}

.snake-game-img {
  max-height: 40vh;
}

.main-content {
  margin: 3em 0;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.flexEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 1rem;
}

.flexCenterColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerCursoIndex {
  width: 80%;
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 1rem;

  .buttonCell {
    display: grid;
    place-items: center;

    background-color: var(--purple-500-color);

    width: 2.5rem;
    height: 2.5rem;

    border-radius: 50%;
    text-decoration: none;
    color: #fff;

    font-size: 1.4rem;

    transition: all 100ms linear;

    &:hover {
      background-color: var(--purple-300-color);
    }
  }

  table {
    font-size: 1.5rem;
    width: 100%;

    border: 2px solid grey;

    th {
      padding: 0.5rem 1rem;
      background-color: var(--purple-500-color);
      color: black;
    }

    td {
      border: 1px solid grey;
      padding: 0.5rem 1rem;
      background-color: #ddd;

      color: var(--background-color);

      a {
        color: var(--background-color);

        &:hover {
          color: var(--grey-500-color);
        }
      }
    }

    & td:nth-of-type(2) {
      border-right: none;
    }

    & td:last-of-type {
      border-left: none;
    }
  }
}

.containerCursoCreate,
.containerCursoUpdate {
  font-size: 1.2rem;

  & > * {
    margin: 2rem 0;
  }

  .flexLine {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 5rem;

    & > * {
      flex-grow: 1;
    }
  }

  .formElement {
    & > * {
      display: block;
    }

    & > input {
      height: 4rem;
    }

    & > textarea,
    & > input {
      width: 100%;
    }
  }

  .btnPrincipal {
    width: 11rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--purple-500-color);
    border: none;
    border-radius: 2rem;

    padding: 1rem 2.3rem;

    transition: all 150ms linear;
    position: relative;
    overflow: hidden;

    &::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      position: absolute;
      margin-left: 0.5rem;

      transform: translateX(200%);
      transition: all 200ms linear;
    }

    &:hover,
    &:active {
      background-color: var(--purple-300-color);

      padding-left: 1.5rem;
      padding-right: 3.5rem;

      &::after {
        transform: translateX(0);
      }
    }
  }

  .btnCreate::after {
    content: "\f067";
  }

  .btnUpdate {
    &::after {
      content: "\f01e";
    }

    &:hover,
    &:active {
      &::after {
        transform: translateX(0) rotate(150deg);
      }
    }
  }
}

.containerCursoRead {
  .tableHead {
    width: 60%;
    padding: 0.5rem 1rem;
    padding-left: 3rem;
    font-size: 2rem;
    background-color: var(--purple-500-color);
    color: black;
    font-weight: bold;
    border: 2px solid lightgray;
    border-bottom: none;
  }

  #tableRead {
    width: 60%;
    td,
    th {
      border: 2px solid lightgray;
      padding: 0.75rem 1rem;
      background-color: #ddd;
      color: black;
    }

    th {
      text-align: end;
      padding-right: 5rem;
      width: 50%;
      border-right: none;
      font-size: 1.5rem;
    }

    td {
      text-align: start;
      padding-left: 5rem;
      border-left: none;
      font-size: 1.3rem;
    }
  }
}

.flexCards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;

  justify-content: space-between;

  border-radius: 1.5rem;

  width: 80%;
  height: 45%;

  margin: 0 auto;

  .myCard {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;

    border-radius: 1rem;

    min-width: 25%;
    min-height: 20%;

    padding: 0.5rem 1rem;

    background-color: var(--purple-300-color);
    border: 2px solid var(--grey-500-color);

    text-decoration: none;
    color: var(--background-color);
    font-size: 1.5rem;
    font-weight: bold;

    transition: all 150ms linear;

    i {
      transition: all 150ms ease;
    }

    &:hover {
      background-color: var(--purple-500-color);
    }

    &:hover i {
      transform: rotate(-15deg);
    }
  }
}
