<div class="itemCenter">
  <img src="/img/snake-game.webp" alt="Jogo da cobra" class="snake-game-img" />
</div>

<div class="main-content">
  <p>O jogo se trata de um implementação web do clássico Snake Game. Nele é
    possível jogar com a cobrinha e obter pontos! Tente superar seu récorde
    pessoal cada vez mais! Lorem ipsum dolor sit amet consectetur, adipisicing
    elit. Odit ut delectus facilis labore tenetur. Odit qui voluptates sint
    maxime ut nam culpa, aut sunt laboriosam aspernatur et reprehenderit dicta
    cupiditate.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
    voluptatem quos debitis deserunt alias, voluptate repudiandae maiores eaque
    minima dolore totam eius, placeat nulla. Laborum fuga voluptate illo
    voluptatum laboriosam!</p>
</div>