<link rel="stylesheet" href="/css/snake.css" />

<h3 id="info-text">Aperte "S" para iniciar</h3>
<div id="gameWrapper" class="itemCenter"></div>

<script src="/js/snake.js"></script>

<div id="myModal" class="meuModal">
  <div class="meuModalConteudo">
    <span id="pauseText">PAUSE</span>
  </div>
</div>