<h1>
  Seja Bem-Vindo
</h1>

<div class="flexCards">
  <a href="/curso" class="myCard"><i class="fas fa-graduation-cap"></i>Cursos</a>
  <a href="/cookie" class="myCard"><i class="fas fa-cookie-bite"></i>Cookie</a>
  <a href="/area" class="myCard"><i class="fas fa-map-pin"></i>Ãreas</a>
</div>