body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

th {
    font-weight: bold;
}

table, th, td {
    border-style: double;
}

tr{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

td{
    width: 50%;
}

