<h1>Curso Read</h1>


<div class="flexCenterColumn">
  <div class="tableHead">
    {{curso.nome}}
  </div>
  <table id="tableRead">
    <tbody>
        <th>Sigla</th>
        <td>{{curso.sigla}}</td>
      </tr>
      <tr>
        <th>Descrição</th>
        <td>{{curso.descricao}}</td>
      </tr>
      <tr>
        <th>AreaId</th>
        <td>{{curso.Area.nome}}</td>
      </tr>
    </tbody>
  </table>
</div>